[Unit]
Description=Check Soramimic Video deployment branches every minute

[Timer]
OnBootSec=2min
OnUnitInactiveSec=1min
AccuracySec=5s
Unit=soramimic-video-auto-deploy.service

[Install]
WantedBy=timers.target
