tunnel: <tunnel-id>
credentials-file: <credentials-json>

ingress:
  - hostname: video.soramimic.com
    service: http://127.0.0.1:8301
  - hostname: dev-video.soramimic.com
    service: http://127.0.0.1:8311
  - hostname: preview-video.soramimic.com
    service: http://127.0.0.1:8312
  - service: http_status:404
